<div #chartContainer class="chart-container"></div>
<div class="chart-legend">
  <span class="legend-item legend-item--up">
    <span class="legend-swatch legend-swatch--up"></span>Bullish candle
  </span>
  <span class="legend-item legend-item--dn">
    <span class="legend-swatch legend-swatch--dn"></span>Bearish candle
  </span>
  <span class="legend-item legend-item--ema">
    <span class="legend-swatch legend-swatch--ema"></span>EMA†20
  </span>
  <span class="legend-item legend-item--bid">
    <span class="legend-swatch legend-swatch--bid"></span>YES Bid
  </span>
  <span class="legend-item legend-item--ask">
    <span class="legend-swatch legend-swatch--ask"></span>YES Ask
  </span>
  <span class="legend-item legend-item--sr-s">
    <span class="legend-swatch legend-swatch--sr-s"></span>Support
  </span>
  <span class="legend-item legend-item--sr-r">
    <span class="legend-swatch legend-swatch--sr-r"></span>Resistance
  </span>
  <span class="legend-item legend-item--vol">
    <span class="legend-swatch legend-swatch--vol"></span>Volume
  </span>
</div>
